.Landing{
     width: 100%;
     height: 100vh;
     padding: 0px;
     background: #F0F0F0;
     display: flex;

     .menu{
          display: none;
          align-items: center;
          margin-right: 5px;
          cursor: pointer;
     }

     .Navbar{
          flex: none;
          width: 100px;
          border-radius: 0px 15px 0px 0px;
          background-color: white;
          display: flex;
          align-items: center;
          flex-direction: column;

          &.opened{
               width: 244px;
               display: flex !important;
          }
          .navbtn{
               cursor: pointer;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 55px;
               width: 100%;
               color: #9494A0;
               padding: 0px 20px;
               
               &:hover{
                    color: #FF9E90;
               }

               .caption{
                    display: none;
                    margin-left: 20px;
                    color: #9494A0;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 20px;
               }
          }
          
          .logo{
               height: 25px;
               width: calc(100% - 80px);
               padding: 25px 40px;
          }

          .back{
               display: none;
               height: 25px;
               width: calc(100% - 80px);
               padding: 25px 40px;
          }

          .avatar{
               display: flex;
               height: 60px;
               padding: 10px 20px;
               width: 100%;
               justify-content: center;

               .caption{
                    display: none;
                    flex-direction: column;
                    margin-left: 20px;
                    color: #9494A0;
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 450;
                    font-size: 16px;
                    line-height: 20px;
               }
          }
     }

     .Board{
          width: calc(100% - 100px);
          display: flex;
          justify-content: center;
          padding: 55px 20px;
          .scratch{
               max-width: 1135px;
               width: 100%; 
               .panel{  
                    background: #F9FAFB;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    margin: 0px;

                    .header{
                         display: flex;
                         width: calc(100% - 60px);
                         padding: 15px 30px;
                         justify-content: space-between;
                         align-items: center;
                         border-bottom: 1px solid;
                         border-color: rgba(125,125,100, 0.1);

                         .name{
                              display: flex;
                              flex: none;
                              font-family: 'Futura PT';
                              font-style: normal;
                              font-weight: 500;
                              font-size: 26px;
                              line-height: 44px;
                              margin-right: 20px;
                         }

                         .controller{
                              flex: 1;
                              justify-content: right;
                              display: flex;
                              align-items: center;
                              height: 36px;
                              color: #9494A0;
                              .btn{
                                   flex: none;
                                   cursor: pointer;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   width: 218px;
                                   height: 36px;
                                   background: #32C076;
                                   border-radius: 10px;
                                   color: white;
                                   margin-bottom: 5px;
                              }

                              .searchBar{
                                   flex: 1;
                                   display: flex;
                                   justify-content: space-between;
                                   border: 1px solid #C1C1CB;
                                   border-radius: 10px;
                                   padding: 5px;
                                   align-items: center;
                                   font-size: 14px;
                                   max-width: 450px;
                                   margin-bottom: 5px;
                                   margin-right: 10px;
                              }
                         }
                    }

                    .mainboard{
                         display: flex;
                         flex-direction: column;
                         background: rgba(196, 196, 196, 0.01);
                    }
               }
          }
     }
}

@media only screen and (max-width: 672px) {
     .back { display: flex !important; }
     .Navbar { position: absolute; display: none !important;}
     .Board { padding: 0px !important; width: 100% !important;}
     .header { flex-direction: column !important; padding-left: 15px !important; padding-right: 15px !important; width: calc(100% - 30px) !important;}
     .name{text-align: left; width: 100% !important; padding-left: 20px;}
     .controller { flex-direction: column !important; width: 100% !important;}
     .btn{ width: 100% !important; }
     .searchBar {width: calc(100% - 10px) !important; max-width: 100% !important; margin-right: 0px !important;}
     .logo{display: none !important;} 
     .Navbar{align-items: flex-start !important;}
     .caption{ display: flex !important;}
     .navbtn{ justify-content: left !important;}
     .avatar{ justify-content: left !important;}
     .menu { display: flex !important;}
}
@media only screen and (min-width: 672px) {
     .Navbar { width: 100px !important; }
}